@charset "UTF-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;

  font-family: 'Outfit', sans-serif;
}

/* Utilities Classes */
.container {
  width: 95%;
  margin: auto;
  padding: 0 10px;
}

.subtitle {
  text-transform: uppercase;
  color: #fafafa;
  font-weight: bold;
  font-size: 2.5rem;
}

.btn {
  color: lightslategray;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.75rem;

  background-color: #fafafa;
  border: none;

  display: inline-flex;
  align-items: center;

  height: 2rem;

  border-radius: 8px;
  padding: 0 1.5rem;

  cursor: pointer;
}

.btn:hover {
  background-color: hsl(50, 40%, 85%);
}

a {
  text-decoration: none;
  color: #121212;
}

img {
  width: 100%;
  max-width: 100%;
  height: 100%;

  object-fit: cover;
}

/* Header */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1rem;

  height: 60px;
}

.logo {
  height: 45px;
}

.header-title {
  font-size: 1.2rem;
}

.header-items {
  display: flex;
  align-items: center;

  list-style: none;
}

.header-item {
  font-size: 0.95rem;
  font-weight: bold;

  padding: 0.2rem 0.7rem;

  cursor: pointer;
  transition: all 0.3s;

  position: relative;
}

.header-item:hover,
.header-title:hover {
  color: rgba(0, 0, 0, 0.5);
}

.header-list-skills,
.header-list-history,
.header-list-characters {
  display: none;

  list-style: none;
}

.header-list-skills a,
.header-list-history a,
.header-list-characters a {
  color: white;
}

.header-item:hover .header-list-skills,
.header-item:hover .header-list-history,
.header-item:hover .header-list-characters {
  display: grid;
  gap: 0.3rem;
  position: absolute;
  top: 3rem;
  left: 1rem;
}

.header-action {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;

  margin-left: 1rem;

  color: lightskyblue;

  height: 2rem;
  display: inline-flex;
  align-items: center;

  border: 2px solid lightskyblue;
  padding: 0 0.8rem;
  border-radius: 5px;
}

.header-action:hover {
  color: hsl(203, 84%, 45%);
  border: 2px solid hsl(203, 84%, 45%);
}

/* Introduction */
#introduction {
  background: url('https://lolstatic-a.akamaihd.net/frontpage/apps/prod/rg-league-display-2017/pt_BR/cb24025fade09e3f965776440dffcc65024d3266/assets/img/content/splash/content-original-championillustrations-group-slashes.jpg')
    no-repeat center center/cover;

  height: calc(100vh - 60px);
}

.background-blur {
  width: 100%;
  height: 100%;

  background: linear-gradient(
    to bottom right,
    rgba(240, 240, 240, 0.2) 10%,
    rgba(0, 0, 0, 0.5) 40%
  );

  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.template {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.8rem;

  color: #fafafa;
}

/* Character */
.character-image-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;

  margin: 15px auto 25px;
}

.character-image {
  height: 100%;
  flex-basis: 1000px;

  display: flex;
  flex: auto;

  filter: contrast(150%) sepia(15%) saturate(75%);
}

.character-image img {
  height: 550px;

  object-position: top;
}

.character-text-skills {
  display: flex;
  align-items: center;
  gap: 3rem;

  width: 100%;
}

.character-text {
  display: flex;
  align-content: flex-end;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 40%;

  max-width: 450px;
}

.character-text h2 {
  font-size: 1.5rem;
}

.character-text h3 {
  font-size: 0.85rem;
  font-style: italic;
  color: gray;
}

.character-text p {
  line-height: 1.2rem;
  font-size: 0.83rem;

  color: hsl(0, 0%, 45%);
}

.btn.blue {
  background-color: #0089a8;
  color: #fafafa;

  text-align: center;
  align-self: flex-start;
}

.btn.blue:hover {
  background-color: hsl(191, 100%, 25%);
}

.skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.2rem;

  justify-items: flex-end;

  flex: 1 1 60%;
  height: auto;
}

.skills img {
  filter: contrast(130%) saturate(120%) grayscale(80%);

  object-fit: cover;

  width: 85%;
  height: auto;
  border-radius: 20px;
}

.skills img:hover {
  filter: grayscale(0%);
}

@media screen and (max-width: 768px) {
  #header {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 0.5rem;

    height: 100px;

    padding: 15px 0;
  }

  .character-image-text {
    margin: 50px auto 30px;
  }

  .character-text-skills {
    gap: 1rem;
    flex-wrap: wrap;
  }

  .character-text {
    gap: 0.8rem;
    flex: 1 1 100%;

    max-width: none;
  }

  .skills {
    gap: 0.4rem;

    flex: 1 1 100%;
    height: auto;
  }
}
